#content {
  height: 100vh;
  background-image: url(../../images/img1.png);
}

#title {
  margin-top: 10vh;
  font-size: 100px;
  color: rgb(37, 32, 32);
  font-family: "Josefin Slab";
  cursor: default;
}

#login {
  width: 42vw;
  height: max-content;
  margin-top: 20vh;
  flex-direction: column;
  margin-left: 452px;
  background-color: #1e0f24;
  opacity: 80%;
}

#login div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#login div input {
  margin-top: 60px;
  color: white;
  background-color: #1e0f24;
  border: none;
  border-bottom: 1px solid white;
  font-family: "Open Sans";
}
#login div p {
  color: white;
  padding-top: 10px;
}

#loginbtn {
  margin-top: 60px;
}
#loginbtn .MuiButtonBase-root:hover {
  opacity: 100%;
  background-color: grey;
  color: white;
}
#cadastrobtn .MuiButtonBase-root:hover {
  opacity: 100%;
  background-color: grey;
  color: white;
}
